.link
    color: #85181E
    display: inline-block
    border-bottom: 1px solid
    &:hover
        border-bottom-color: transparent
.input-group
    background: #FFFFFF
    border: 1px solid #E6E6E6   
    border-radius: 10px
    position: relative
    padding: 1rem 1rem 
    .label
        position: absolute
        left: 1rem 
        top: 1rem 
        transition: all 0.2s linear
    &.filled input + .label,
    input:focus + .label
        top: 0
        opacity: .3
        font-size: .8rem
.form--group 
    margin-bottom: .25rem
    &.has-error,
    &.has-success
        position: relative
        .help-block
            position: absolute 
            left: 1rem 
            bottom: 0
            &.form-error
                color: red 
                font-size: .75rem
        .input-group
            .label
                top: 0
                opacity: .3
                font-size: .8rem
.chekbox-group
    display: inline-block
    min-width: 30px
    text-align: center

    label
        line-height: 1rem
        height: 30px
        display: inline-block
        padding: 7px
        &:hover
            color: #DE2828
            background-color: transparent
            cursor: pointer
    input[type="checkbox"], 
    input[type="radio"]
        display: none
    input[type="checkbox"],
    input[type="radio"]
        &:checked + label 
            background: #DE2828
            border-radius: 5px
            color: #fff
        &:disabled + label
            opacity: .3
            &:hover 
                color: inherit
                cursor: default


.btn 
    display: inline-block
    border-radius: 10px
    padding: 20px 28px
    font-size: 1.125rem
    transition: all 0.1s 0s ease-in-out
    border-style: solid
    border-color: transparent
    font-family: inherit
    &:disabled 
        opacity: 0.3
    @include phone 
        padding: 20px 18px
    &--dark 
        background: linear-gradient(180deg, #374047 0%, #24292E 50%, #374047 100%)
        color: $white
        background-size: 1px 106px
        &:hover
            background-position: 0 -53px
    &--red 
        background: linear-gradient(180deg, #DE2828 0%, #B50000 50%,  #DE2828 100%)
        color: $white
        background-size: 1px 106px
        
        &:hover
            background-position: 0 -53px
            // background: linear-gradient(180deg, #B50000 0%, #DE2828 100%)
    &--red-border 
        border: 1px solid $red-one
        background-color: transparent 
        color: $red-one
        &:hover 
            color: $red-two  
            border-color: $red-two
    &--border-white
        border: 1px solid $white
        background-color: transparent 
        color: $white
        &:hover 
            opacity: 0.5
.btns
    margin-top: 40px
    @include phone
        margin-top: 1rem
        .btn 
            width: 100%
.form--group
    position: relative
.section
    padding: 5.5555vw 0 
    &--main
        padding-top: 1.38vw
    &--courses
        .subtitle 
            max-width: 50%
            @include phone
                max-width: 100%

    & + .section
        padding-top: 0 

.gifts--card__attention
    background: linear-gradient(95.91deg, #4F525E 19.83%, #6E7591 84.1%)
    border-radius: 20px
    color: $white
    display: grid  
    grid-template-columns: repeat(2, 1fr)
    position: relative
    @include phone 
        grid-template-columns: 1fr
    &--txt
        padding: 48px 0 48px 6.3194vw
        @include phone
            padding: 10px 14px 10px 25px
    img 
        position: absolute
        width: 38.888%
        right: 1vw
        top: 50% 
        transform: translateY(-47%)
        @include phone
            width: 75% 
            position: static 
            transform: translateY(-10%)
            margin: 0 auto

.benefit
    display: grid
    grid-template-columns: 2fr 1fr
    grid-column-gap: 1em
    padding: 2em 0
    @include phone
        display: block
    &--list
        display: grid 
        grid-template-columns: repeat(2, 1fr)
        grid-column-gap: 2em 
        grid-row-gap: 2em
        @include phone
            grid-template-columns: 1fr
    &--item
        
        &__photo
            .overlay
                background: #FFFFFF
                border-radius: 10px
                max-width: 252px
                margin: 0 0 0 auto
                margin-top: 1em
                @include phone
                    max-width: 100%
                img 
                    width: 100% 
                    margin-top: -1em
                    @include phone
                        margin-top: -0.5em
                        //display: none
                .content_txt
                    padding: 14px
                    @include phone
                        margin-top: 0 
                        padding-top: 0
.shooting--time
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 1.5rem
    padding: 1.25em 0
    counter-reset: section
    @include phone
        grid-template-columns: 1fr

.shooting--time_item
    counter-increment: section
    background-color: $white
    padding: 12px 20px 12px 16px
    border-radius: 10px
    &::before
        content: counter(section)
        background-color: $black
        color: $white
        border-radius: 8px
        width: 32px 
        height: 32px 
        text-align: center
        display: inline-block
        padding: 8px 0
        line-height: 1
        margin-right: .5em
    .duration
        border: 1px solid rgba(0, 0, 0, 0.2)
        padding: 4px 17px
        border-radius: 8px
        display: inline-block
    .h3
        margin-top: 1.5rem
        margin-bottom: .5rem
.shooting--time_item__passport
    background-color: #85181E
    color: $white
    margin-top: -65px
    @include phone 
        margin-top: 0
        padding-left: 80px
        position: relative
        p 
            max-width: 300px
    &::before 
        content: '' 
        background-image: url(../svg/passport.svg)
        background-color: transparent
        width: 44px
        height: 56px
        @include phone
            position: absolute
            left: 16px 
            top: 20px
            
        
.section--club
    overflow: hidden
    position: relative
.club--card
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 2em
    @include phone
        display: block
    
    .club--card__txt 
        margin-top: 4rem
        .h2 
            max-width: 27vw
        @include phone
            display: block
            .h2, .p
                width: 78%
                max-width: 100%
            
        
    img 
        max-width: 100%
        margin: 0 0 0 auto
        height: 464px
        @include phone 
            position: absolute
            height: 298px
            left: 73%
            top: 5em

.section--sooting-time
    .h3 
        max-width: 38vw
        @include phone
            max-width: 100%
.section--sooting-video
    .h2 
         max-width: 38vw
         @include phone
            max-width: 100%
.shooting--video
    display: flex
    flex-direction: row-reverse
    margin-top: 1.5rem
    gap: 2em
    @include phone
        display: block

    .txt
        width: 50%
        @include phone
            width: 100%
    .video--link
        width: 50%
        text-align: center
        @include phone
            width: 100%
            margin-bottom: 1rem
            font-style: italic
        a 
            display: block
            max-width: 344px 
            margin: 0 0 0 auto
            @include phone
                max-width: 100%
            img 
                max-width: 100%
                display: block
                @include phone
                    width: 100%

    .video--thumbnail
        position: relative
        border-radius: 8px
        overflow: hidden
        &::before 
            content: ''
            width: 44px 
            height: 44px
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%,-50%)
            background-image: url(../svg/play.svg)
        &:hover
            &::before 
                opacity: .5
        

.courses
    &--list 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-column-gap: 1em
        margin-top: 2rem
        @include phone 
            display: block
            margin-bottom: 60px
    &--tag
        display: inline-block
        border: 0.5px solid #DE2828
        box-sizing: border-box
        border-radius: 8px
        padding: 5px 13px
        color: #DE2828
        margin-left: -13px
    &--title 
        margin: .5rem
    &--item 
        background: $white
        border-radius: 20px
        transition: all 0.05s 0s ease-in-out
        position: relative
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25)
        cursor: pointer
        @include phone 
            width: 100%
            .p 
                display: none
        .btns 
            position: absolute
            left: 20px 
            right: 20px 
            bottom: 20px 
            @include phone
                // left: 0
                // right: 0
                // bottom: 0
                .btn 
                    width: 100%
                    // border-radius: 0 0 10px 10px
            
        .btn 
            width: 100%
            font-size: 1rem
            display: flex
            justify-content: space-between
            align-items: center
        .btn--red
            background: linear-gradient(180deg, #374047 0%, #24292E 100%)
            // color: #F3E8C2
            .cost
                border-right: 1px solid
                display: inline-block
                padding-right: 1.5em
                font-size: 21px
                @include phone 
                    font-size: inherit
            .txt

        &:hover 
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25)
            @include phone
                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25)
            .btn--red 
                background: #DE2828
            .courses--tag
                background-color: #DE2828
                color: $white
                
                

        .courses--img
            padding: 0 0 56.97% 0
            height: 0
            position: relative
        img 
            max-width: 100%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        .courses--txt 
            padding: 30px 30px 120px 30px
            // position: relative
.flickity-page-dots .dot
    background: #C4C4C4
    opacity: 1
   
    &.is-selected
         background-color: $red-two