.lid-tow-column
    display: grid 
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 2em
    max-width: 100%
.edu--table-of-contents
    background-color: $white
    background: #FFFFFF
    border-radius: 10px
    margin: 0 -6.11vw 
    padding: 3.25em 6.11vw
.edu--toc__over
    display: grid 
    grid-template-columns: 3fr 1fr
    align-items: center
    grid-column-gap: 1em
    a 
        color: #9E2C33
        &:hover 
            color: $black
.section--content
    counter-reset: lessover
    article
        counter-increment: section
        .less--overlay
            .h2
                position: relative
                &::before
                    content: counter(section) ". "
                    position: absolute
                    right: 100%
                    bottom: .2em
                    font-size: 1rem
                    padding-right: .5em

    
.edu--table-of-contents
    ol
        counter-reset: section
        columns: 3
        line-height: 1.5rem
        margin-top: 1.75rem
        li 
            counter-increment: section
            a
                &::before
                    content: counter(section) " "
                    font-size: .625rem
.edu--toc__list
    border-right: 1px solid rgba(0, 0, 0, 0.3)

.edu--toc__pdf
    text-align: center
    

.less--overlay
.less--item
    margin: 4vw 0
    .less--item__video
        display: none
        background-color: #272727
        color: $white
        padding: 4em 0 
        margin-top: 4em
.less--wrapper
    display: flex
    gap: 2em
    margin-top: 2rem
    .less--text
        .h2 
            margin-bottom: 1rem
        p 
            margin: 1em 0
            &:first-child
                margin-top: 0
    .less--text,
    .less--img
        width: 50%
        img
            max-width: 100%
.less--props__list
    display: flex
    flex-wrap: wrap
    gap: 1.5em
    margin-top: 2.5em
    .less--props
        min-width: calc(25% - 1.5em)

    .name
        font-size: 13px
        line-height: 16px
    .value 
        font-weight: 600
        font-size: 18px
        line-height: 24px
        .tooltype
            border-bottom: 1px dotted rgba(0,0,0,.3)
            cursor: pointer
            position: relative
            z-index: 10
            .tooltype__text
                position: absolute
                left: 95%
                top: 95% 
                background-color: $white 
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1)
                border-radius: 10px
                padding: 1.5rem 
                font-size: 1rem
                width: 320px
                z-index: 10
.video--content
    margin-top: 2rem      
    .h3 
        margin-bottom: .5rem         
.video-list
    display: flex 
    gap: .5rem
    .video--link
        width: 160px
        
        .video--thumbnail
            overflow: hidden
            border-radius: 5px
            position: relative
            &::before 
                content: ''
                width: 35px 
                height: 35px
                position: absolute
                left: 50%
                top: 50%
                background-size: cover
                transform: translate(-50%,-50%)
                background-image: url(../svg/play.svg)
            &:hover
                &::before 
                    opacity: .5
        img 
            max-width: 100%
            display: block
        .video--link__title
            font-size: .875rem 
            line-height: 1
            text-align: center
            margin-top: .1rem 
.less--item__video-overlay
    display: flex 
    gap: 2rem
    @include phone
        flex-direction: column
    .less--item__video-txt,
    .less--item__video-iframe
        width: 50%
        @include phone
            width: 100%

