.events--service__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1.5em
    margin-top: 1.5em
.events--service__item
    background-color: $white
    padding: 1.8em 1em
    border-radius: 15px
    svg 
        height: 70px

.events--programms_overlay
    display: grid
    grid-template-columns: 8fr 4fr
    grid-column-gap: 2em
.events--programms__text_over
    max-width: 618px
    .img--overlay
        border-radius: 5px
        overflow: hidden
        margin: 1em 0

        img 
            max-width: 100%
            display: block
.page-activity
    .h2 
        max-width: 50%
        @include phone
            max-width: 100%
.plan--complex
    @include img-bg
    background-image: url(/local/templates/theobject/img/events/plan.png)
    position: relative
    height: 0 
    padding: 0 0 83.68% 0 
    mix-blend-mode: multiply
    margin-top: -80px
    &__text
        position: absolute
        top: 75% 
        left: 50% 
        max-width: 344px 
        &::before
            content: '' 
            background: #F2F2F2
            filter: blur(44px)
            position: absolute
            left: 0
            bottom: 0
            top: 0
            right: 0
        .txt 
            position: relative




.section--events__menu-gallery
    .p 
        max-width: 50%
        @include phone
            max-width: 100%
.events--programms__list
    margin: 2em 0
.events--programms__item
    margin: 1em 0
    p + p
        margin-top: .5em
    .cost 
        color: #9E2C33
        border: 0.5px solid 
        box-sizing: border-box
        border-radius: 8px
        display: inline-block
        padding: .5em .5em
        line-height: 1
.section--events__order__layout
    margin: 0 -100px 
    padding: 3.33rem 100px 
    background-color: $black
    color: $white
    border-radius: 20px
    .input-group .label
        color: $black
    @include phone 
        padding: 16px 
        margin: 0
.section--events__order__param
    display: flex
    gap: 1em
    .radio-item
        input 
            display: none
            &:checked + label 
                border: 1px solid #DE2828
        label
            display: block
            background-color: #222222
            border-radius: 10px
            padding: 1em 1.25em
            border: 1px solid transparent
            &:hover
                border: 1px solid #DE2828
                cursor: pointer
.section--events__order__overlay
    display: grid 
    grid-template-columns: 8fr 4fr
    grid-column-gap: 2em
    @include phone
        padding-left: 0 
    .section--events__order__contacts
        padding-left: 2em 
        border-left: 1px solid rgba(255,255,255,.2)
    .input-group
        &.dt 
            position: static 
    .pickmeup
        padding: 2em
        background-color: $white
        color: $black
        border-radius: 10px
    .small
        opacity: .3

