@font-face
  font-family: 'RFTone'
  src: font('RFTone-Bold.woff2') format("woff2"), font('RFTone-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-ExtraBoldItalic.woff2') format("woff2"), font('RFTone-ExtraBoldItalic.woff') format("woff")
  font-weight: bold
  font-style: italic
  font-display: swap
@font-face
  font-family: 'RFTone'
  src: font('RFTone-Black.woff2') format("woff2"), font('RFTone-Black.woff') format("woff")
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face
  font-family: 'RFTone'
  src: font('RFTone-Extrabold.woff2') format("woff2"), font('RFTone-Extrabold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-BlackItalic.woff2') format("woff2"), font('RFTone-BlackItalic.woff') format("woff")
  font-weight: 900
  font-style: italic
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-BoldItalic.woff2') format("woff2"), font('RFTone-BoldItalic.woff') format("woff")
  font-weight: bold
  font-style: italic
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-Light.woff2') format("woff2"), font('RFTone-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-LightItalic.woff2') format("woff2"), font('RFTone-LightItalic.woff') format("woff")
  font-weight: 300
  font-style: italic
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-ExtraLightItalic.woff2') format("woff2"), font('RFTone-ExtraLightItalic.woff') format("woff")
  font-weight: 200
  font-style: italic
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-Regular.woff2') format("woff2"), font('RFTone-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-Italic.woff2') format("woff2"), font('RFTone-Italic.woff') format("woff")
  font-weight: normal
  font-style: italic
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-Semibold.woff2') format("woff2"), font('RFTone-Semibold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-UltraLightItalic.woff2') format("woff2"), font('RFTone-UltraLightItalic.woff') format("woff")
  font-weight: 200
  font-style: italic
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-ExtraLight.woff2') format("woff2"), font('RFTone-ExtraLight.woff') format("woff")
  font-weight: 200
  font-style: normal
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-SemiBoldItalic.woff2') format("woff2"), font('RFTone-SemiBoldItalic.woff') format("woff")
  font-weight: 600
  font-style: italic
  font-display: swap

@font-face
  font-family: 'RFTone'
  src: font('RFTone-UltraLight.woff2') format("woff2"), font('RFTone-UltraLight.woff') format("woff")
  font-weight: 200
  font-style: normal
  font-display: swap