/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before
	box-sizing: border-box

html, body
	&.freeze
		height: 100%
		overflow: hidden

body
	font-size: 16px
	line-height: 1.6
	color: $black
	margin: 0
	padding: 0
	font-family: $fontMain
	font-weight: $fw-Regular

a
	color: $black
	text-decoration: none

ol, ul
	list-style: none
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

.input
	font-family: $fontMain
	&[type="text"], &[type="tel"], 
	&[type="email"], 
	&[type="password"], &[type="number"]
		-webkit-appearance: none
		border-radius: 0
		border: none
		background-color: transparent
		outline: none
	&[type="radio"], &[type="checkbox"]
		display: none

textarea
	font-family: $fontMain
	-webkit-appearance: none
	border-radius: 0
	border: none
	background-color: transparent
	outline: none
	resize: none

button
	outline: none
	&:disabled
		cursor: default

.table
	display: table

.tr
	display: table-row

.td, .th
	display: table-cell

.link
	cursor: pointer

.btn
	display: inline-block
	line-height: 1
	text-align: center
	cursor: pointer

.page
	min-height: 100vh
	//overflow: hidden

#svg-sprites
	display: none

.img--bg
	@include img-bg

.gallery
	position: relative

.switch__tab
	cursor: pointer

.gallery__tab
	display: none
	&.active
		display: block

.wrapper
	padding: 0 12.5vw
	@include desktop
		padding: 0 24px
		max-width: 1148px
		margin: 0 auto
	@include phone 
		padding: 0 24px
.page 
	background-color: $bgcolor 
.header 
	&--overlay
		padding: 50px 0
		@include phone 
			padding: 45px 0 15px 0

		nav 
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			menu
				list-style: none
				display: flex
				flex-direction: row
				@include phone 
					display: none
				li 
					margin: 0 1em
	.btn--menu
		display: none
		width: 20px
		height: 20px
		position: relative
		&::before ,
		&::after 
			position: absolute
			content: ''
			left: 0
			right: 0
		&::before
			top: 0
			height: 100%
			border-style: solid
			border-width: 1px 0 1px 0 
		&::after
			top: 50% 
			border-style: solid
			border-width: 1px 0 0 0 

		@include phone 
			display: block
			
	.logo
		img 
			@include phone
				width: 92px
	.cabinet-link 
		@include phone 
					display: none
.cabinet-link
	padding: 10px 15px
	border: 1px solid rgba(0, 0, 0, 0.1)
	border-radius: 4px

.footer
	background-color: $footerbgcolor
	color: $white
	padding: 60px 0 35px
	a 
		color: $footercolor 
		&:hover
			color: $white
	.footer-line-two
		padding-top: 34px
		border-top: 1px solid rgba(255, 255, 255, 0.3)
		display: flex 
		justify-content: space-between
		.copy-content
			display: flex 
			justify-content: space-between
			gap: 2em
			
		.copy-txt 
			max-width: 451px
			color: rgba(96, 96, 96, 1)
		.social-links
			a
				display: inline-block
				margin: 0 .5em
				vertical-align: middle
	.footer-line-one
		list-style: none
		menu  
			margin-bottom: 1.5em
			li 
				display: inline-block
				margin-right: 2em 
				&:last-child
					margin-right: 0
				
.slider
	&--main
		background-color: $black
		color: $white
		.h1 
			font-weight: 900
