.section--nav
    position: sticky
    top: 0
    background-color: #F2F2F2
    padding: 0  
    z-index: 10
    @include phone
        overflow-y: scroll
        width: 100%

.tabs--nav
    border-bottom: 1px solid rgba(0,0,0,.2)
    white-space: nowrap
    .tab
        display: inline-block
        margin-right: 1em
        color: #9E2C33
        padding: .8em 0
        border-bottom: 2px solid transparent
        cursor: pointer
        margin-bottom: -1px
        &.active
            color: $black
            border-bottom: 2px solid
.section.scroller
    margin-top: 4em
.card-item
    margin: 30px -100px 
    padding: 60px 100px
    border-radius: 20px
    @include tablet 
        margin: 1em 0px 
        padding: 2em 2em
    @include phone
        padding: 16px
    &__col-price
        .btn 
            width: 100%
            .cost
                border-right: 1px solid 
                display: inline-block
                padding-right: 1rem
                font-size: 21px
                @include phone 
                    font-size: inherit
            .txt 
                margin-left: 1rem
.card-item__overlay
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    gap: 2em
    position: relative
    @include phone
        flex-direction: column
        gap: 0
    .card-item__col-fiz
        position: absolute
        left: 0
        bottom: 0
        max-width: 320px
        .p 
            margin-bottom: 0
            padding-bottom: 0

    
    .card-item__col-img,
    .card-item__col-txt
        width: 50%
        @include phone
            width: 100%  
            
    .card-item__col-img
        
        img 
            max-width: 100%
    .card-item__col-txt
        max-width: 360px
        .p 
            min-height: 3em 
            padding-bottom: 2.25em
#card-el-7
    .card-item__overlay
        .card-item__col-txt
            max-width: 508px
.carousel-nav 
    margin-bottom: 1em
    .carousel-cell
        height: 37px
        width: 58px
        padding: 1px
        border-radius: 3px
        &.is-nav-selected
            background: linear-gradient(180deg, #DA4A52 0%, #9E2C33 100%)
.card-text
    display: flex
    justify-content: space-between
    gap: 2em
    margin: 0 -100px 
    padding: 0 50px
    @include phone
        margin: 0 0px 
        padding: 0 0px
        flex-direction: column

    .card-text-col
        width: 50% 
        display: flex
        justify-content: space-between
        align-items: center
        @include phone
            width: 100%
            flex-direction: row-reverse
            gap: 0
        .cart-text-img,
        .cart-text-txt
            width: 50%
            
        .cart-text-img
            img 
                max-width: 100%
                mix-blend-mode: darken
                
            @include phone
                width: 25%
        .cart-text-txt
            @include phone
                width: 75%
            
            
        
.card--custom__sum
    display: flex
    gap: 1rem 
    width: 100%
.card--order__overlay
    background: $black
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25)
    border-radius: 10px
    color: $white
    margin: 0 -100px 
    padding: 2em 50px
    @include phone
        margin: 0 0px 
        padding: 1.25em 1em
    label 
        color: $black
    .form--inputs
        display: grid 
        grid-template-columns: repeat(3, 1fr)
        grid-column-gap: 1em
.card--direction__description
    display: flex
    justify-content: space-between
    @include phone
        flex-direction: column
        gap: 1em
    .card--direction__txt
        width: 50%
        @include phone
            width: 100%
    .card--direction__link
        background: #FFFFFF
        border-radius: 10px
        padding: 1em 1.25em
        display: flex
        gap: 1em
        width: 25%
        align-items: center
        @include phone
            width: 100%
.card--order__heeader
    display: flex
    gap: 1em
    align-items: center
    padding-bottom: 1em
    .h2 
    .card--order__typecard-select
        display: flex
        
    .card--order__typecard
        label
            background-color: #B4B4B4
            padding: .5em 1em 
            line-height: 1
        &:first-child
            label
                border-radius: 5px 0 0 5px 
                cursor: pointer
        &:last-child
            label
                border-radius: 0 5px 5px 0
        input[type="radio"]
            &:checked
                & + label 
                    background-color: $red-two
                    color: $white
.basket 
    padding-bottom: 2em
    &--item
        display: grid
        grid-template-columns: 6fr 2fr 1fr 2fr
        padding: 1.5em 0
        border-bottom: 1px solid rgba(255,255,255,.2)
        .input
            text-align: center
            border: none
            background-color: transparent
            color: $white
            outline: none
            width: 3em
        .input--number__overlay
            display: flex

        .pluse,
        .minuse
            cursor: pointer
.card--order__overlay
    .basket--footer
        display: flex
        gap: 1em
        margin-top: 2.5em

    .submit
        display: flex
        .cost 
            border-right: 1px solid
            display: inline-block
            padding-right: 1rem
            font-size: 21px
        .txt
            margin-left: 1rem