.pickmeup

  position: absolute
  touch-action: manipulation

  *
    -moz-box-sizing: border-box
    box-sizing: border-box

  &.pmu-flat
    position: relative

  &.pmu-hidden
    display: none

  .pmu-instance

    height: 13.8em
    // padding: .5em
    text-align: center


    .pmu-button
      cursor: pointer
      outline: none
      text-decoration: none
    .pmu-today
      font-weight: 500
    .pmu-button:hover
      background-color: transparent
      color: #DE2828

    .pmu-not-in-month
      color: #666

    .pmu-disabled
      opacity: .2
      cursor: default
      &:hover
        color: #DE2828
        cursor: default

    .pmu-selected
      background: #DE2828
      border-radius: 5px
      color: $white
      &:hover
        background: #DE2828
        color: $white

    .pmu-not-in-month.pmu-selected
      background: #DE2828
      border-radius: 5px
      color: $white

    nav
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      width: 100%
      justify-content: space-between
      line-height: 2em

      *:first-child :hover
        color: #DE2828

      .pmu-prev, .pmu-next
        display: none
        height: 2em
        width: 1em
        color: #DE2828
        background-position: center center
        background-repeat: no-repeat
        color: transparent
        &:hover 
          color: transparent
      .pmu-prev
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.71182 -0.000265606L0.575461 4.1361L4.71182 8.27246L5.42276 7.56152L2.49592 4.64391L10.0762 4.64391L10.0762 3.62829L2.49592 3.62829L5.42276 0.701438L4.71182 -0.000265606Z' fill='%23DE2828'/%3E%3C/svg%3E%0A")
      .pmu-next
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.93954 8.27273L10.0759 4.13636L5.93954 9.37932e-07L5.2286 0.710938L8.15545 3.62855L0.575195 3.62855L0.575195 4.64418L8.15545 4.64418L5.2286 7.57102L5.93954 8.27273Z' fill='%23DE2828'/%3E%3C/svg%3E%0A")

      .pmu-month
        width: 14em
        font-size: 18px
        font-weight: 700
        line-height: 24px

    .pmu-years *, .pmu-months *
      display: inline-block
      line-height: 3.6em
      width: 3.5em

    .pmu-day-of-week
      cursor: default
      display: flex
      flex-wrap: wrap
      font-weight: bold
      font-size: 13px
      line-height: 24px
      text-transform: uppercase
      width: 100%

      *
        display: inline-block
        line-height: 1.5em
        width: 14.28%

    .pmu-days 
      display: flex
      flex-wrap: wrap
      & *
        display: inline-block
        line-height: 1.5em
        width: 14.28%

    .pmu-day-of-week *
      line-height: 1.8em

    &:first-child .pmu-prev, &:last-child .pmu-next
      display: block

    &:first-child .pmu-month, &:last-child .pmu-month
      width: 13em

    &:first-child:last-child .pmu-month
      width: 12em

  &:not(.pmu-view-days)
    .pmu-days, .pmu-day-of-week
      display: none

  &:not(.pmu-view-months) .pmu-months, &:not(.pmu-view-years) .pmu-years
    display: none