.shooting--popup
    position: fixed
    left: 0
    top: 0
    bottom: 0
    right: 0
    display: none 
    &.show 
        display: block
.shooting--popup__shadows
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: #3F3F3F
    opacity: 0.5
.shooting--popup__body
    max-width: 372px 
    position: absolute
    right: 0
    top: 0
    bottom: 0
    background: #F2F2F2
    padding: 2.75em 1px 0 1px
    width: 25.83%
    @include phone
        width: 100%
.shooting--popup__wrapper   
    max-width: 276px
    margin: 0 auto
.shooting--popup
    .tabs  
        display:  flex
        gap: 2em
        margin: 2.5em 0 2em 0
        .tab
            .title
                font-weight: 600
                font-size: 18px
                line-height: 24px
                display: block
            .tooltip
                font-size: 13px
                line-height: 16px
                color: rgba(0, 0, 0, 0.4)

            &.select
                .title
                    color: $red-two
                
        @include phone
            display: none
    .tab-content
        display: none
        &.show 
            display: block
.shooting--booking__step
    display: none
    &.active 
        display: block
    .pickmeup.pmu-hidden
        display: block
    .pickmeup
        position: relative
    .shooting--booking__calendar-input
        display: none
.form-summary
    background-color: #000000
    color: $white
    border-radius: 10px
    margin-top: 1.25rem
    .form-section
        padding: 0
        border-color: rgba(255, 255, 255, 0.2)
    .small
        font-size: 13px
        line-height: 16px
        color: #FFFFFF
        opacity: 0.4
        padding-top: 1rem
    .btn
        width: 100% 
        padding-left: 10px
        padding-right: 10px
.summary--wrap 
    padding: 20px
.form-section
    border-top: 1px solid rgba(0,0,0,.1)
    padding: 1em 0
.time-today
    display: flex
    flex-wrap: wrap
    .chekbox-group
        width: 20%
        font-size: 13px
        line-height: 1
.shooting--line
    display: flex
    justify-content: space-between

    




