h1, .h1 
    
    font-size: 5.555vw
    font-weight: 600
    line-height: 1.05
    & + .lid 
        margin-top: 1.5rem
    @include desktop
        font-size: 5rem

    @include phone
        font-size: 2rem 
        line-height: 1.05
h2, .h2 
    font-size: 2.777vw
    font-weight: 600
    line-height: 1.1
    @include desktop
        font-size: 40px

    @include phone
        font-size: 1.75rem 
    & + .p 
        margin-top: 1.25rem
h3, .h3 
    font-size: 1.458vw
    font-weight: 700
    line-height: 1.14
    @include desktop
        font-size: 21px
    @include phone
        font-size: 1.16666rem
    & + .p 
        padding-top: .8rem
.lid 
    font-size: 1.875rem
    line-height: 1.2
    max-width: 785px 
    @include desktop
        font-size: 30px
    @include phone
        font-size: 1.25rem 
        line-height: 1.25
.lead 
    font-size: 1.875rem
html, body
    @include phone
        font-size: 12px
.small 
    font-size: 0.8125rem
.p 
    font-size: 1.125rem 
    line-height: 1.33
    & + .p 
        margin-top: 1em

    & + .small 
        padding-top: .5rem
p 
    & + p
        margin-top: 1em

b, strong
    font-weight: 700