.row {
  font-size: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  display: inline-block;
  vertical-align: top; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 1025px) {
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1440px) {
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: grabbing; }

.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: #fff;
  cursor: pointer; }

.flickity-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #19f; }

.flickity-button:active {
  opacity: .6; }

.flickity-button:disabled {
  opacity: .3;
  cursor: auto;
  pointer-events: none; }

.flickity-button-icon {
  fill: currentColor; }

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-Bold.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-ExtraBoldItalic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-Black.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-Extrabold.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-BlackItalic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-BoldItalic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-Light.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-LightItalic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-ExtraLightItalic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-Regular.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-Italic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-Semibold.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-UltraLightItalic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-ExtraLight.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-SemiBoldItalic.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'RFTone';
  src: url("/local/templates/theobject/fonts/RFTone-UltraLight.woff2") format("woff2"), url("/local/templates/theobject/fonts/RFTone-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

h1, .h1 {
  font-size: 5.555vw;
  font-weight: 600;
  line-height: 1.05; }
  h1 + .lid, .h1 + .lid {
    margin-top: 1.5rem; }
  @media (max-width: 1600px) {
    h1, .h1 {
      font-size: 5rem; } }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 2rem;
      line-height: 1.05; } }

h2, .h2 {
  font-size: 2.777vw;
  font-weight: 600;
  line-height: 1.1; }
  @media (max-width: 1600px) {
    h2, .h2 {
      font-size: 40px; } }
  @media (max-width: 767px) {
    h2, .h2 {
      font-size: 1.75rem; } }
  h2 + .p, .h2 + .p {
    margin-top: 1.25rem; }

h3, .h3 {
  font-size: 1.458vw;
  font-weight: 700;
  line-height: 1.14; }
  @media (max-width: 1600px) {
    h3, .h3 {
      font-size: 21px; } }
  @media (max-width: 767px) {
    h3, .h3 {
      font-size: 1.16666rem; } }
  h3 + .p, .h3 + .p {
    padding-top: .8rem; }

.lid {
  font-size: 1.875rem;
  line-height: 1.2;
  max-width: 785px; }
  @media (max-width: 1600px) {
    .lid {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .lid {
      font-size: 1.25rem;
      line-height: 1.25; } }

.lead {
  font-size: 1.875rem; }

@media (max-width: 767px) {
  html, body {
    font-size: 12px; } }

.small {
  font-size: 0.8125rem; }

.p {
  font-size: 1.125rem;
  line-height: 1.33; }
  .p + .p {
    margin-top: 1em; }
  .p + .small {
    padding-top: .5rem; }

p + p {
  margin-top: 1em; }

b, strong {
  font-weight: 700; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before {
  box-sizing: border-box; }

html.freeze, body.freeze {
  height: 100%;
  overflow: hidden; }

body {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: RFTone, Arial, sans-serif;
  font-weight: 400; }

a {
  color: #000;
  text-decoration: none; }

ol, ul {
  list-style: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.input {
  font-family: RFTone, Arial, sans-serif; }
  .input[type="text"], .input[type="tel"], .input[type="email"], .input[type="password"], .input[type="number"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background-color: transparent;
    outline: none; }
  .input[type="radio"], .input[type="checkbox"] {
    display: none; }

textarea {
  font-family: RFTone, Arial, sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  resize: none; }

button {
  outline: none; }
  button:disabled {
    cursor: default; }

.table {
  display: table; }

.tr {
  display: table-row; }

.td, .th {
  display: table-cell; }

.link {
  cursor: pointer; }

.btn {
  display: inline-block;
  line-height: 1;
  text-align: center;
  cursor: pointer; }

.page {
  min-height: 100vh; }

#svg-sprites {
  display: none; }

.img--bg {
  background: no-repeat center;
  background-size: cover; }

.gallery {
  position: relative; }

.switch__tab {
  cursor: pointer; }

.gallery__tab {
  display: none; }
  .gallery__tab.active {
    display: block; }

.wrapper {
  padding: 0 12.5vw; }
  @media (max-width: 1600px) {
    .wrapper {
      padding: 0 24px;
      max-width: 1148px;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .wrapper {
      padding: 0 24px; } }

.page {
  background-color: #F2F2F2; }

.header--overlay {
  padding: 50px 0; }
  @media (max-width: 767px) {
    .header--overlay {
      padding: 45px 0 15px 0; } }
  .header--overlay nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    .header--overlay nav menu {
      list-style: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row; }
      @media (max-width: 767px) {
        .header--overlay nav menu {
          display: none; } }
      .header--overlay nav menu li {
        margin: 0 1em; }

.header .btn--menu {
  display: none;
  width: 20px;
  height: 20px;
  position: relative; }
  .header .btn--menu::before, .header .btn--menu::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0; }
  .header .btn--menu::before {
    top: 0;
    height: 100%;
    border-style: solid;
    border-width: 1px 0 1px 0; }
  .header .btn--menu::after {
    top: 50%;
    border-style: solid;
    border-width: 1px 0 0 0; }
  @media (max-width: 767px) {
    .header .btn--menu {
      display: block; } }

@media (max-width: 767px) {
  .header .logo img {
    width: 92px; } }

@media (max-width: 767px) {
  .header .cabinet-link {
    display: none; } }

.cabinet-link {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

.footer {
  background-color: #1B1B1B;
  color: #fff;
  padding: 60px 0 35px; }
  .footer a {
    color: #606060; }
    .footer a:hover {
      color: #fff; }
  .footer .footer-line-two {
    padding-top: 34px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .footer .footer-line-two .copy-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      gap: 2em; }
    .footer .footer-line-two .copy-txt {
      max-width: 451px;
      color: #606060; }
    .footer .footer-line-two .social-links a {
      display: inline-block;
      margin: 0 .5em;
      vertical-align: middle; }
  .footer .footer-line-one {
    list-style: none; }
    .footer .footer-line-one menu {
      margin-bottom: 1.5em; }
      .footer .footer-line-one menu li {
        display: inline-block;
        margin-right: 2em; }
        .footer .footer-line-one menu li:last-child {
          margin-right: 0; }

.slider--main {
  background-color: #000;
  color: #fff; }
  .slider--main .h1 {
    font-weight: 900; }

.pickmeup {
  position: absolute;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }
  .pickmeup * {
    box-sizing: border-box; }
  .pickmeup.pmu-flat {
    position: relative; }
  .pickmeup.pmu-hidden {
    display: none; }
  .pickmeup .pmu-instance {
    height: 13.8em;
    text-align: center; }
    .pickmeup .pmu-instance .pmu-button {
      cursor: pointer;
      outline: none;
      text-decoration: none; }
    .pickmeup .pmu-instance .pmu-today {
      font-weight: 500; }
    .pickmeup .pmu-instance .pmu-button:hover {
      background-color: transparent;
      color: #DE2828; }
    .pickmeup .pmu-instance .pmu-not-in-month {
      color: #666; }
    .pickmeup .pmu-instance .pmu-disabled {
      opacity: .2;
      cursor: default; }
      .pickmeup .pmu-instance .pmu-disabled:hover {
        color: #DE2828;
        cursor: default; }
    .pickmeup .pmu-instance .pmu-selected {
      background: #DE2828;
      border-radius: 5px;
      color: #fff; }
      .pickmeup .pmu-instance .pmu-selected:hover {
        background: #DE2828;
        color: #fff; }
    .pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
      background: #DE2828;
      border-radius: 5px;
      color: #fff; }
    .pickmeup .pmu-instance nav {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-pack: justify;
          justify-content: space-between;
      line-height: 2em; }
      .pickmeup .pmu-instance nav *:first-child :hover {
        color: #DE2828; }
      .pickmeup .pmu-instance nav .pmu-prev, .pickmeup .pmu-instance nav .pmu-next {
        display: none;
        height: 2em;
        width: 1em;
        color: #DE2828;
        background-position: center center;
        background-repeat: no-repeat;
        color: transparent; }
        .pickmeup .pmu-instance nav .pmu-prev:hover, .pickmeup .pmu-instance nav .pmu-next:hover {
          color: transparent; }
      .pickmeup .pmu-instance nav .pmu-prev {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.71182 -0.000265606L0.575461 4.1361L4.71182 8.27246L5.42276 7.56152L2.49592 4.64391L10.0762 4.64391L10.0762 3.62829L2.49592 3.62829L5.42276 0.701438L4.71182 -0.000265606Z' fill='%23DE2828'/%3E%3C/svg%3E%0A"); }
      .pickmeup .pmu-instance nav .pmu-next {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.93954 8.27273L10.0759 4.13636L5.93954 9.37932e-07L5.2286 0.710938L8.15545 3.62855L0.575195 3.62855L0.575195 4.64418L8.15545 4.64418L5.2286 7.57102L5.93954 8.27273Z' fill='%23DE2828'/%3E%3C/svg%3E%0A"); }
      .pickmeup .pmu-instance nav .pmu-month {
        width: 14em;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px; }
    .pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * {
      display: inline-block;
      line-height: 3.6em;
      width: 3.5em; }
    .pickmeup .pmu-instance .pmu-day-of-week {
      cursor: default;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      width: 100%; }
      .pickmeup .pmu-instance .pmu-day-of-week * {
        display: inline-block;
        line-height: 1.5em;
        width: 14.28%; }
    .pickmeup .pmu-instance .pmu-days {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .pickmeup .pmu-instance .pmu-days * {
        display: inline-block;
        line-height: 1.5em;
        width: 14.28%; }
    .pickmeup .pmu-instance .pmu-day-of-week * {
      line-height: 1.8em; }
    .pickmeup .pmu-instance:first-child .pmu-prev, .pickmeup .pmu-instance:last-child .pmu-next {
      display: block; }
    .pickmeup .pmu-instance:first-child .pmu-month, .pickmeup .pmu-instance:last-child .pmu-month {
      width: 13em; }
    .pickmeup .pmu-instance:first-child:last-child .pmu-month {
      width: 12em; }
  .pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week {
    display: none; }
  .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none; }

.link {
  color: #85181E;
  display: inline-block;
  border-bottom: 1px solid; }
  .link:hover {
    border-bottom-color: transparent; }

.input-group {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  position: relative;
  padding: 1rem 1rem; }
  .input-group .label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    transition: all 0.2s linear; }
  .input-group.filled input + .label,
  .input-group input:focus + .label {
    top: 0;
    opacity: .3;
    font-size: .8rem; }

.form--group {
  margin-bottom: .25rem; }
  .form--group.has-error, .form--group.has-success {
    position: relative; }
    .form--group.has-error .help-block, .form--group.has-success .help-block {
      position: absolute;
      left: 1rem;
      bottom: 0; }
      .form--group.has-error .help-block.form-error, .form--group.has-success .help-block.form-error {
        color: red;
        font-size: .75rem; }
    .form--group.has-error .input-group .label, .form--group.has-success .input-group .label {
      top: 0;
      opacity: .3;
      font-size: .8rem; }

.chekbox-group {
  display: inline-block;
  min-width: 30px;
  text-align: center; }
  .chekbox-group label {
    line-height: 1rem;
    height: 30px;
    display: inline-block;
    padding: 7px; }
    .chekbox-group label:hover {
      color: #DE2828;
      background-color: transparent;
      cursor: pointer; }
  .chekbox-group input[type="checkbox"],
  .chekbox-group input[type="radio"] {
    display: none; }
  .chekbox-group input[type="checkbox"]:checked + label,
  .chekbox-group input[type="radio"]:checked + label {
    background: #DE2828;
    border-radius: 5px;
    color: #fff; }
  .chekbox-group input[type="checkbox"]:disabled + label,
  .chekbox-group input[type="radio"]:disabled + label {
    opacity: .3; }
    .chekbox-group input[type="checkbox"]:disabled + label:hover,
    .chekbox-group input[type="radio"]:disabled + label:hover {
      color: inherit;
      cursor: default; }

.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 20px 28px;
  font-size: 1.125rem;
  transition: all 0.1s 0s ease-in-out;
  border-style: solid;
  border-color: transparent;
  font-family: inherit; }
  .btn:disabled {
    opacity: 0.3; }
  @media (max-width: 767px) {
    .btn {
      padding: 20px 18px; } }
  .btn--dark {
    background: linear-gradient(180deg, #374047 0%, #24292E 50%, #374047 100%);
    color: #fff;
    background-size: 1px 106px; }
    .btn--dark:hover {
      background-position: 0 -53px; }
  .btn--red {
    background: linear-gradient(180deg, #DE2828 0%, #B50000 50%, #DE2828 100%);
    color: #fff;
    background-size: 1px 106px; }
    .btn--red:hover {
      background-position: 0 -53px; }
  .btn--red-border {
    border: 1px solid #E30613;
    background-color: transparent;
    color: #E30613; }
    .btn--red-border:hover {
      color: #DE2828;
      border-color: #DE2828; }
  .btn--border-white {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; }
    .btn--border-white:hover {
      opacity: 0.5; }

.btns {
  margin-top: 40px; }
  @media (max-width: 767px) {
    .btns {
      margin-top: 1rem; }
      .btns .btn {
        width: 100%; } }

.form--group {
  position: relative; }

.section {
  padding: 5.5555vw 0; }
  .section--main {
    padding-top: 1.38vw; }
  .section--courses .subtitle {
    max-width: 50%; }
    @media (max-width: 767px) {
      .section--courses .subtitle {
        max-width: 100%; } }
  .section + .section {
    padding-top: 0; }

.gifts--card__attention {
  background: linear-gradient(95.91deg, #4F525E 19.83%, #6E7591 84.1%);
  border-radius: 20px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative; }
  @media (max-width: 767px) {
    .gifts--card__attention {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }
  .gifts--card__attention--txt {
    padding: 48px 0 48px 6.3194vw; }
    @media (max-width: 767px) {
      .gifts--card__attention--txt {
        padding: 10px 14px 10px 25px; } }
  .gifts--card__attention img {
    position: absolute;
    width: 38.888%;
    right: 1vw;
    top: 50%;
    transform: translateY(-47%); }
    @media (max-width: 767px) {
      .gifts--card__attention img {
        width: 75%;
        position: static;
        transform: translateY(-10%);
        margin: 0 auto; } }

.benefit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-column-gap: 1em;
  padding: 2em 0; }
  @media (max-width: 767px) {
    .benefit {
      display: block; } }
  .benefit--list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em; }
    @media (max-width: 767px) {
      .benefit--list {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr; } }
  .benefit--item__photo .overlay {
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 252px;
    margin: 0 0 0 auto;
    margin-top: 1em; }
    @media (max-width: 767px) {
      .benefit--item__photo .overlay {
        max-width: 100%; } }
    .benefit--item__photo .overlay img {
      width: 100%;
      margin-top: -1em; }
      @media (max-width: 767px) {
        .benefit--item__photo .overlay img {
          margin-top: -0.5em; } }
    .benefit--item__photo .overlay .content_txt {
      padding: 14px; }
      @media (max-width: 767px) {
        .benefit--item__photo .overlay .content_txt {
          margin-top: 0;
          padding-top: 0; } }

.shooting--time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding: 1.25em 0;
  counter-reset: section; }
  @media (max-width: 767px) {
    .shooting--time {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }

.shooting--time_item {
  counter-increment: section;
  background-color: #fff;
  padding: 12px 20px 12px 16px;
  border-radius: 10px; }
  .shooting--time_item::before {
    content: counter(section);
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    display: inline-block;
    padding: 8px 0;
    line-height: 1;
    margin-right: .5em; }
  .shooting--time_item .duration {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px 17px;
    border-radius: 8px;
    display: inline-block; }
  .shooting--time_item .h3 {
    margin-top: 1.5rem;
    margin-bottom: .5rem; }

.shooting--time_item__passport {
  background-color: #85181E;
  color: #fff;
  margin-top: -65px; }
  @media (max-width: 767px) {
    .shooting--time_item__passport {
      margin-top: 0;
      padding-left: 80px;
      position: relative; }
      .shooting--time_item__passport p {
        max-width: 300px; } }
  .shooting--time_item__passport::before {
    content: '';
    background-image: url(../svg/passport.svg);
    background-color: transparent;
    width: 44px;
    height: 56px; }
    @media (max-width: 767px) {
      .shooting--time_item__passport::before {
        position: absolute;
        left: 16px;
        top: 20px; } }

.section--club {
  overflow: hidden;
  position: relative; }

.club--card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em; }
  @media (max-width: 767px) {
    .club--card {
      display: block; } }
  .club--card .club--card__txt {
    margin-top: 4rem; }
    .club--card .club--card__txt .h2 {
      max-width: 27vw; }
    @media (max-width: 767px) {
      .club--card .club--card__txt {
        display: block; }
        .club--card .club--card__txt .h2, .club--card .club--card__txt .p {
          width: 78%;
          max-width: 100%; } }
  .club--card img {
    max-width: 100%;
    margin: 0 0 0 auto;
    height: 464px; }
    @media (max-width: 767px) {
      .club--card img {
        position: absolute;
        height: 298px;
        left: 73%;
        top: 5em; } }

.section--sooting-time .h3 {
  max-width: 38vw; }
  @media (max-width: 767px) {
    .section--sooting-time .h3 {
      max-width: 100%; } }

.section--sooting-video .h2 {
  max-width: 38vw; }
  @media (max-width: 767px) {
    .section--sooting-video .h2 {
      max-width: 100%; } }

.shooting--video {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  margin-top: 1.5rem;
  gap: 2em; }
  @media (max-width: 767px) {
    .shooting--video {
      display: block; } }
  .shooting--video .txt {
    width: 50%; }
    @media (max-width: 767px) {
      .shooting--video .txt {
        width: 100%; } }
  .shooting--video .video--link {
    width: 50%;
    text-align: center; }
    @media (max-width: 767px) {
      .shooting--video .video--link {
        width: 100%;
        margin-bottom: 1rem;
        font-style: italic; } }
    .shooting--video .video--link a {
      display: block;
      max-width: 344px;
      margin: 0 0 0 auto; }
      @media (max-width: 767px) {
        .shooting--video .video--link a {
          max-width: 100%; } }
      .shooting--video .video--link a img {
        max-width: 100%;
        display: block; }
        @media (max-width: 767px) {
          .shooting--video .video--link a img {
            width: 100%; } }
  .shooting--video .video--thumbnail {
    position: relative;
    border-radius: 8px;
    overflow: hidden; }
    .shooting--video .video--thumbnail::before {
      content: '';
      width: 44px;
      height: 44px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../svg/play.svg); }
    .shooting--video .video--thumbnail:hover::before {
      opacity: .5; }

.courses--list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  margin-top: 2rem; }
  @media (max-width: 767px) {
    .courses--list {
      display: block;
      margin-bottom: 60px; } }

.courses--tag {
  display: inline-block;
  border: 0.5px solid #DE2828;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px 13px;
  color: #DE2828;
  margin-left: -13px; }

.courses--title {
  margin: .5rem; }

.courses--item {
  background: #fff;
  border-radius: 20px;
  transition: all 0.05s 0s ease-in-out;
  position: relative;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  @media (max-width: 767px) {
    .courses--item {
      width: 100%; }
      .courses--item .p {
        display: none; } }
  .courses--item .btns {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px; }
    @media (max-width: 767px) {
      .courses--item .btns .btn {
        width: 100%; } }
  .courses--item .btn {
    width: 100%;
    font-size: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .courses--item .btn--red {
    background: linear-gradient(180deg, #374047 0%, #24292E 100%); }
    .courses--item .btn--red .cost {
      border-right: 1px solid;
      display: inline-block;
      padding-right: 1.5em;
      font-size: 21px; }
      @media (max-width: 767px) {
        .courses--item .btn--red .cost {
          font-size: inherit; } }
  .courses--item:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); }
    @media (max-width: 767px) {
      .courses--item:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25); } }
    .courses--item:hover .btn--red {
      background: #DE2828; }
    .courses--item:hover .courses--tag {
      background-color: #DE2828;
      color: #fff; }
  .courses--item .courses--img {
    padding: 0 0 56.97% 0;
    height: 0;
    position: relative; }
  .courses--item img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .courses--item .courses--txt {
    padding: 30px 30px 120px 30px; }

.flickity-page-dots .dot {
  background: #C4C4C4;
  opacity: 1; }
  .flickity-page-dots .dot.is-selected {
    background-color: #DE2828; }

.shooting--popup {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none; }
  .shooting--popup.show {
    display: block; }

.shooting--popup__shadows {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #3F3F3F;
  opacity: 0.5; }

.shooting--popup__body {
  max-width: 372px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #F2F2F2;
  padding: 2.75em 1px 0 1px;
  width: 25.83%; }
  @media (max-width: 767px) {
    .shooting--popup__body {
      width: 100%; } }

.shooting--popup__wrapper {
  max-width: 276px;
  margin: 0 auto; }

.shooting--popup .tabs {
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin: 2.5em 0 2em 0; }
  .shooting--popup .tabs .tab .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: block; }
  .shooting--popup .tabs .tab .tooltip {
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.4); }
  .shooting--popup .tabs .tab.select .title {
    color: #DE2828; }
  @media (max-width: 767px) {
    .shooting--popup .tabs {
      display: none; } }

.shooting--popup .tab-content {
  display: none; }
  .shooting--popup .tab-content.show {
    display: block; }

.shooting--booking__step {
  display: none; }
  .shooting--booking__step.active {
    display: block; }
  .shooting--booking__step .pickmeup.pmu-hidden {
    display: block; }
  .shooting--booking__step .pickmeup {
    position: relative; }
  .shooting--booking__step .shooting--booking__calendar-input {
    display: none; }

.form-summary {
  background-color: #000000;
  color: #fff;
  border-radius: 10px;
  margin-top: 1.25rem; }
  .form-summary .form-section {
    padding: 0;
    border-color: rgba(255, 255, 255, 0.2); }
  .form-summary .small {
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
    padding-top: 1rem; }
  .form-summary .btn {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }

.summary--wrap {
  padding: 20px; }

.form-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 0; }

.time-today {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .time-today .chekbox-group {
    width: 20%;
    font-size: 13px;
    line-height: 1; }

.shooting--line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.section--nav {
  position: sticky;
  top: 0;
  background-color: #F2F2F2;
  padding: 0;
  z-index: 10; }
  @media (max-width: 767px) {
    .section--nav {
      overflow-y: scroll;
      width: 100%; } }

.tabs--nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap; }
  .tabs--nav .tab {
    display: inline-block;
    margin-right: 1em;
    color: #9E2C33;
    padding: .8em 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-bottom: -1px; }
    .tabs--nav .tab.active {
      color: #000;
      border-bottom: 2px solid; }

.section.scroller {
  margin-top: 4em; }

.card-item {
  margin: 30px -100px;
  padding: 60px 100px;
  border-radius: 20px; }
  @media (max-width: 1024px) {
    .card-item {
      margin: 1em 0px;
      padding: 2em 2em; } }
  @media (max-width: 767px) {
    .card-item {
      padding: 16px; } }
  .card-item__col-price .btn {
    width: 100%; }
    .card-item__col-price .btn .cost {
      border-right: 1px solid;
      display: inline-block;
      padding-right: 1rem;
      font-size: 21px; }
      @media (max-width: 767px) {
        .card-item__col-price .btn .cost {
          font-size: inherit; } }
    .card-item__col-price .btn .txt {
      margin-left: 1rem; }

.card-item__overlay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: justify;
      justify-content: space-between;
  gap: 2em;
  position: relative; }
  @media (max-width: 767px) {
    .card-item__overlay {
      -ms-flex-direction: column;
          flex-direction: column;
      gap: 0; } }
  .card-item__overlay .card-item__col-fiz {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 320px; }
    .card-item__overlay .card-item__col-fiz .p {
      margin-bottom: 0;
      padding-bottom: 0; }
  .card-item__overlay .card-item__col-img,
  .card-item__overlay .card-item__col-txt {
    width: 50%; }
    @media (max-width: 767px) {
      .card-item__overlay .card-item__col-img,
      .card-item__overlay .card-item__col-txt {
        width: 100%; } }
  .card-item__overlay .card-item__col-img img {
    max-width: 100%; }
  .card-item__overlay .card-item__col-txt {
    max-width: 360px; }
    .card-item__overlay .card-item__col-txt .p {
      min-height: 3em;
      padding-bottom: 2.25em; }

#card-el-7 .card-item__overlay .card-item__col-txt {
  max-width: 508px; }

.carousel-nav {
  margin-bottom: 1em; }
  .carousel-nav .carousel-cell {
    height: 37px;
    width: 58px;
    padding: 1px;
    border-radius: 3px; }
    .carousel-nav .carousel-cell.is-nav-selected {
      background: linear-gradient(180deg, #DA4A52 0%, #9E2C33 100%); }

.card-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  gap: 2em;
  margin: 0 -100px;
  padding: 0 50px; }
  @media (max-width: 767px) {
    .card-text {
      margin: 0 0px;
      padding: 0 0px;
      -ms-flex-direction: column;
          flex-direction: column; } }
  .card-text .card-text-col {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 767px) {
      .card-text .card-text-col {
        width: 100%;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        gap: 0; } }
    .card-text .card-text-col .cart-text-img,
    .card-text .card-text-col .cart-text-txt {
      width: 50%; }
    .card-text .card-text-col .cart-text-img img {
      max-width: 100%;
      mix-blend-mode: darken; }
    @media (max-width: 767px) {
      .card-text .card-text-col .cart-text-img {
        width: 25%; } }
    @media (max-width: 767px) {
      .card-text .card-text-col .cart-text-txt {
        width: 75%; } }

.card--custom__sum {
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: 100%; }

.card--order__overlay {
  background: #000;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #fff;
  margin: 0 -100px;
  padding: 2em 50px; }
  @media (max-width: 767px) {
    .card--order__overlay {
      margin: 0 0px;
      padding: 1.25em 1em; } }
  .card--order__overlay label {
    color: #000; }
  .card--order__overlay .form--inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em; }

.card--direction__description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 767px) {
    .card--direction__description {
      -ms-flex-direction: column;
          flex-direction: column;
      gap: 1em; } }
  .card--direction__description .card--direction__txt {
    width: 50%; }
    @media (max-width: 767px) {
      .card--direction__description .card--direction__txt {
        width: 100%; } }
  .card--direction__description .card--direction__link {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 1em 1.25em;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    width: 25%;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 767px) {
      .card--direction__description .card--direction__link {
        width: 100%; } }

.card--order__heeader {
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 1em; }
  .card--order__heeader .card--order__typecard-select {
    display: -ms-flexbox;
    display: flex; }
  .card--order__heeader .card--order__typecard label {
    background-color: #B4B4B4;
    padding: .5em 1em;
    line-height: 1; }
  .card--order__heeader .card--order__typecard:first-child label {
    border-radius: 5px 0 0 5px;
    cursor: pointer; }
  .card--order__heeader .card--order__typecard:last-child label {
    border-radius: 0 5px 5px 0; }
  .card--order__heeader .card--order__typecard input[type="radio"]:checked + label {
    background-color: #DE2828;
    color: #fff; }

.basket {
  padding-bottom: 2em; }
  .basket--item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 2fr 1fr 2fr;
        grid-template-columns: 6fr 2fr 1fr 2fr;
    padding: 1.5em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .basket--item .input {
      text-align: center;
      border: none;
      background-color: transparent;
      color: #fff;
      outline: none;
      width: 3em; }
    .basket--item .input--number__overlay {
      display: -ms-flexbox;
      display: flex; }
    .basket--item .pluse,
    .basket--item .minuse {
      cursor: pointer; }

.card--order__overlay .basket--footer {
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin-top: 2.5em; }

.card--order__overlay .submit {
  display: -ms-flexbox;
  display: flex; }
  .card--order__overlay .submit .cost {
    border-right: 1px solid;
    display: inline-block;
    padding-right: 1rem;
    font-size: 21px; }
  .card--order__overlay .submit .txt {
    margin-left: 1rem; }

.lid-tow-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
  max-width: 100%; }

.edu--table-of-contents {
  background-color: #fff;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 -6.11vw;
  padding: 3.25em 6.11vw; }

.edu--toc__over {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-flex-align: center;
      align-items: center;
  grid-column-gap: 1em; }
  .edu--toc__over a {
    color: #9E2C33; }
    .edu--toc__over a:hover {
      color: #000; }

.section--content {
  counter-reset: lessover; }
  .section--content article {
    counter-increment: section; }
    .section--content article .less--overlay .h2 {
      position: relative; }
      .section--content article .less--overlay .h2::before {
        content: counter(section) ". ";
        position: absolute;
        right: 100%;
        bottom: .2em;
        font-size: 1rem;
        padding-right: .5em; }

.edu--table-of-contents ol {
  counter-reset: section;
  columns: 3;
  line-height: 1.5rem;
  margin-top: 1.75rem; }
  .edu--table-of-contents ol li {
    counter-increment: section; }
    .edu--table-of-contents ol li a::before {
      content: counter(section) " ";
      font-size: .625rem; }

.edu--toc__list {
  border-right: 1px solid rgba(0, 0, 0, 0.3); }

.edu--toc__pdf {
  text-align: center; }

.less--item {
  margin: 4vw 0; }
  .less--item .less--item__video {
    display: none;
    background-color: #272727;
    color: #fff;
    padding: 4em 0;
    margin-top: 4em; }

.less--wrapper {
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin-top: 2rem; }
  .less--wrapper .less--text .h2 {
    margin-bottom: 1rem; }
  .less--wrapper .less--text p {
    margin: 1em 0; }
    .less--wrapper .less--text p:first-child {
      margin-top: 0; }
  .less--wrapper .less--text,
  .less--wrapper .less--img {
    width: 50%; }
    .less--wrapper .less--text img,
    .less--wrapper .less--img img {
      max-width: 100%; }

.less--props__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5em;
  margin-top: 2.5em; }
  .less--props__list .less--props {
    min-width: calc(25% - 1.5em); }
  .less--props__list .name {
    font-size: 13px;
    line-height: 16px; }
  .less--props__list .value {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px; }
    .less--props__list .value .tooltype {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
      cursor: pointer;
      position: relative;
      z-index: 10; }
      .less--props__list .value .tooltype .tooltype__text {
        position: absolute;
        left: 95%;
        top: 95%;
        background-color: #fff;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 1.5rem;
        font-size: 1rem;
        width: 320px;
        z-index: 10; }

.video--content {
  margin-top: 2rem; }
  .video--content .h3 {
    margin-bottom: .5rem; }

.video-list {
  display: -ms-flexbox;
  display: flex;
  gap: .5rem; }
  .video-list .video--link {
    width: 160px; }
    .video-list .video--link .video--thumbnail {
      overflow: hidden;
      border-radius: 5px;
      position: relative; }
      .video-list .video--link .video--thumbnail::before {
        content: '';
        width: 35px;
        height: 35px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-size: cover;
        transform: translate(-50%, -50%);
        background-image: url(../svg/play.svg); }
      .video-list .video--link .video--thumbnail:hover::before {
        opacity: .5; }
    .video-list .video--link img {
      max-width: 100%;
      display: block; }
    .video-list .video--link .video--link__title {
      font-size: .875rem;
      line-height: 1;
      text-align: center;
      margin-top: .1rem; }

.less--item__video-overlay {
  display: -ms-flexbox;
  display: flex;
  gap: 2rem; }
  @media (max-width: 767px) {
    .less--item__video-overlay {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .less--item__video-overlay .less--item__video-txt,
  .less--item__video-overlay .less--item__video-iframe {
    width: 50%; }
    @media (max-width: 767px) {
      .less--item__video-overlay .less--item__video-txt,
      .less--item__video-overlay .less--item__video-iframe {
        width: 100%; } }

.events--service__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  margin-top: 1.5em; }

.events--service__item {
  background-color: #fff;
  padding: 1.8em 1em;
  border-radius: 15px; }
  .events--service__item svg {
    height: 70px; }

.events--programms_overlay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  grid-column-gap: 2em; }

.events--programms__text_over {
  max-width: 618px; }
  .events--programms__text_over .img--overlay {
    border-radius: 5px;
    overflow: hidden;
    margin: 1em 0; }
    .events--programms__text_over .img--overlay img {
      max-width: 100%;
      display: block; }

.page-activity .h2 {
  max-width: 50%; }
  @media (max-width: 767px) {
    .page-activity .h2 {
      max-width: 100%; } }

.plan--complex {
  background: no-repeat center;
  background-size: cover;
  background-image: url(/local/templates/theobject/img/events/plan.png);
  position: relative;
  height: 0;
  padding: 0 0 83.68% 0;
  mix-blend-mode: multiply;
  margin-top: -80px; }
  .plan--complex__text {
    position: absolute;
    top: 75%;
    left: 50%;
    max-width: 344px; }
    .plan--complex__text::before {
      content: '';
      background: #F2F2F2;
      filter: blur(44px);
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0; }
    .plan--complex__text .txt {
      position: relative; }

.section--events__menu-gallery .p {
  max-width: 50%; }
  @media (max-width: 767px) {
    .section--events__menu-gallery .p {
      max-width: 100%; } }

.events--programms__list {
  margin: 2em 0; }

.events--programms__item {
  margin: 1em 0; }
  .events--programms__item p + p {
    margin-top: .5em; }
  .events--programms__item .cost {
    color: #9E2C33;
    border: 0.5px solid;
    box-sizing: border-box;
    border-radius: 8px;
    display: inline-block;
    padding: .5em .5em;
    line-height: 1; }

.section--events__order__layout {
  margin: 0 -100px;
  padding: 3.33rem 100px;
  background-color: #000;
  color: #fff;
  border-radius: 20px; }
  .section--events__order__layout .input-group .label {
    color: #000; }
  @media (max-width: 767px) {
    .section--events__order__layout {
      padding: 16px;
      margin: 0; } }

.section--events__order__param {
  display: -ms-flexbox;
  display: flex;
  gap: 1em; }
  .section--events__order__param .radio-item input {
    display: none; }
    .section--events__order__param .radio-item input:checked + label {
      border: 1px solid #DE2828; }
  .section--events__order__param .radio-item label {
    display: block;
    background-color: #222222;
    border-radius: 10px;
    padding: 1em 1.25em;
    border: 1px solid transparent; }
    .section--events__order__param .radio-item label:hover {
      border: 1px solid #DE2828;
      cursor: pointer; }

.section--events__order__overlay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  grid-column-gap: 2em; }
  @media (max-width: 767px) {
    .section--events__order__overlay {
      padding-left: 0; } }
  .section--events__order__overlay .section--events__order__contacts {
    padding-left: 2em;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }
  .section--events__order__overlay .input-group.dt {
    position: static; }
  .section--events__order__overlay .pickmeup {
    padding: 2em;
    background-color: #fff;
    color: #000;
    border-radius: 10px; }
  .section--events__order__overlay .small {
    opacity: .3; }
